main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}

@media (width <= 48em) {
    main.container {
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
        column-gap: 0;
    }

    main img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
}